<ul class="list-group list-group-flush">
    <div *ngFor="let comment of comments" >
       
        <li class="list-group-item bg-light rounded px-3 mx-2 my-1" *ngIf="comment._id != null">
            <div class="row mb-0">
                <div class="col-8 mb-2">
                    <span class="font-weight-bold">
                        {{ comment.creator.username }}
                    </span>

                    <div class="text-secondary">
                        {{ comment.created | date: 'dd/MM/yyyy \'às\' HH:mm' }}  
                    </div>
                </div>
                <div class="text-secondary col-4 text-right">
                    <div *ngIf="isOwner(comment)">
                        <button class="btn btn-light btn-sm align-text-middle mb-1 pt-0 pb-1" (click)="toggleEdit(comment)">
                            <img src="../../../assets/edit.png" width="15px">
                        </button>
                        <button class="btn btn-light btn-sm align-text-middle mb-1 pt-0 pb-1" (click)="deleteComment(comment._id)">
                            <img src="../../../assets/delete.png" width="15px">
                        </button>
                    </div>
                </div>
            </div>
            
            
            
            <app-text-body [data]="comment" (updateEmitter)="updateComment($event, comment._id)"></app-text-body>
                
            <app-upvote [data]="comment" (upvoteEmitter)="upvoteComment(comment._id)"></app-upvote>
        
        </li>
    </div>
</ul>