<div class="container-fluid mt-5">
		<div class="container bg-light p-5 rounded">
			<div class="row">
        <div class="col-md-5">
          <app-register></app-register>
        </div>
				
				<div class="col-md-2">
					<!-------null------>
				</div>
				
				<div class="col-md-5">
          <form [formGroup]="formLogin">
						<fieldset>							
							<p> Login: </p>	
 								
							<div class="form-group">
								<input type="email" name="username" id="username" class="form-control input-lg" placeholder="username" formControlName="username">
              </div>
              <app-error-alert [showError]="verifyValidTouched('username', formLogin)" errorMsg="Invalid username"></app-error-alert>
              

							<div class="form-group">
								<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" formControlName="password">
              </div>
              <app-error-alert [showError]="verifyValidTouched('password', formLogin)" errorMsg="Invalid password"></app-error-alert>
              
							<app-error-alert [showError]="showErrorLogin" [errorMsg]="errorMsg"></app-error-alert>
              <div class="row">
                  <button class="mx-auto btn btn-primary" (click)="login()"> Login  <img src="../../assets/loading.gif" width="20px" *ngIf="loading"></button>
              </div>
             
            </fieldset>
				  </form>	
				</div>
			</div>
		</div>
	</div>