/* You can add global styles to this file, and also import other style files */


html, body, *{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

$h6-font-size: 0.8rem;


@import "~bootstrap/scss/bootstrap";

.upvote{
    color: rgb(13, 110, 255);
    padding: 0;
}
.upvote:hover{
    color: rgb(80, 146, 245);
}

.nav-link:hover{
    cursor: pointer;
}
a{
    cursor: pointer;
}

#wrapFormat{
  white-space: pre-wrap;
}

textarea{
    resize: none;
}

textarea:focus,
button,
button:focus,
button:active,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
  outline: none;
}
.btn:focus {
  box-shadow: none;
}
