/* You can add global styles to this file, and also import other style files */


html, body, *{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

$h6-font-size: 0.8rem;


@import "~bootstrap/scss/bootstrap";

.upvote{
    color: rgb(13, 110, 255);
    padding: 0;
}
.upvote:hover{
    color: rgb(80, 146, 245);
}

.nav-link:hover{
    cursor: pointer;
}
a{
    cursor: pointer;
}