<app-new-post (createdEmitter)="this.getFeed()"></app-new-post>

<div class="row mt-5" *ngFor="let post of posts; index as i">
    <div class="col-5 mx-auto">
        <div class="card">
            <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <span class="font-weight-bold">
                                {{ post.creator.username }}
                            </span>
        
                            <div class="text-secondary">
                                {{ post.created | date: 'dd/MM/yyyy \'às\' HH:mm' }}  
                            </div>
                        </div>
                        
                        <div class="text-right col-4" *ngIf="isOwner(post)">
                            <button class="btn btn-light btn-sm mb-1 pt-0 pb-1" (click)="toggleEdit(post)">
                                <img src="../../../assets/edit.png" width="15px">
                            </button>
                            <button class="btn btn-light btn-sm mb-1 pt-0 pb-1" (click)="deletePost(post._id)">
                                <img src="../../../assets/delete.png" width="15px">
                            </button>
                        </div>
                    </div>
                    
            </div>
            <div class="card-body">
                
                <app-text-body [data]="post" [loading]="post.loading" (updateEmitter)="updatePost($event, post)"></app-text-body>

               <app-upvote [data]="post" (upvoteEmitter)="upvotePost(post._id)"></app-upvote>

            </div>

            <app-comments [comments]="post.comments" (reloadFeed)="getFeed()"></app-comments>
       
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <form (ngSubmit)="makeComment(post._id, comment.value)">
                        <input 
                            type="text" 
                            class="form-control" 
                            [id]="'inputPost'+post._id" 
                            placeholder="make a comment"
                            #comment>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>