<app-new-post (createdEmitter)="addPost($event)" *ngIf="!user && !singlePost"></app-new-post>

<div class="row mt-5" *ngFor="let post of posts; index as i">
    <div class="col-5 mx-auto">
        <div class="card">
            <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <a class="font-weight-bold text-dark" [routerLink]="['/profile/'+post.creator.username]">
                                {{ post.creator.username }}
                            </a>

                            <div>
                                <a [routerLink]="['/post/'+post._id]" class="text-secondary">{{ post.created | date: 'dd/MM/yyyy \'às\' HH:mm' }}</a>
                            </div>
                        </div>

                        <div class="col-4">
                          <app-menu [data]="post" (deleteEmitter)="deletePost(post)"></app-menu>
                        </div>
                    </div>

            </div>
            <div class="card-body">

                <app-text-body [data]="post" [loading]="post.loading" (updateEmitter)="updatePost($event, post)"></app-text-body>

               <app-upvote [data]="post" (upvoteEmitter)="upvotePost(post)"></app-upvote>

            </div>

            <app-comments [comments]="post.comments" (reloadFeed)="getFeed()"></app-comments>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <form (ngSubmit)="makeComment(post, comment)">
                        <input
                            type="text"
                            class="form-control"
                            [id]="'inputPost'+post._id"
                            placeholder="make a comment"
                            #comment>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center mt-3 mb-3" *ngIf="loadingFeed">
  <div class="">
    <img src="../../assets/loading.gif" class="" width="50px">
  </div>
</div>
