
<div class="row mt-5" *ngFor="let post of posts">
    <div class="col-5 mx-auto">
        <div class="card ">
            <div class="card-header">
                <div class="row">
                    <div class="font-weight-bold col-8">
                        {{ post.creator.username }}
                    </div>
                    <div class="text-secondary col-4 text-right">{{ post.created | date: 'dd/MM/yyyy \'às\' HH:mm' }}</div>
                </div>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                <p>{{ post.text }}</p>
                </blockquote>
                <button type="button" class="btn btn-light btn-sm" (click)="upvotePost(post._id)"> 
                    upvote 
                    <span class="badge badge-light align-text-bottom" [class.badge-light]="!checkUpvoted(post.upvotes)" [class.badge-info]="checkUpvoted(post.upvotes)">
                        {{ post.upvotes.length }}
                    </span>
                </button>

            </div>
            <app-comments [comments]="post.comments"></app-comments>
        </div>
    </div>
</div>